<div class="contenedor-principal">
  <h1 class="titulo">Resultados de los Juegos</h1>

  <!-- Ahorcado -->
  <section class="seccion-juego">
    <h2 class="subtitulo">Ahorcado</h2>
    <table class="tabla-resultados">
      <thead>
        <tr>
          <th>Jugador</th>
          <th>Fecha</th>
          <th>Letras</th>
          <th>Errores</th>
          <th>Tiempo</th>
          <th>Ganó</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let resultado of resultadosAhorcado()">
          <td data-label="Jugador">{{ resultado.jugador }}</td>
          <td data-label="Fecha">{{ resultado.fecha }}</td>
          <td data-label="Letras">{{ resultado.letras_seleccionadas}}</td>
          <td data-label="Errores">{{ resultado.errores}}</td>
          <td data-label="Tiempo">{{ resultado.duracion }}s</td>
          <td data-label="Ganó">{{ resultado.gano ? 'Sí' : 'No' }}</td>
        </tr>
      </tbody>
    </table>
  </section>

  <!-- Dados Locos -->
  <section class="seccion-juego">
    <h2 class="subtitulo">Dados Locos</h2>
    <table class="tabla-resultados">
      <thead>
        <tr>
          <th>Jugador</th>
          <th>Fecha</th>
          <th>Tiradas</th>
          <th>Tiempo</th>
          <th>Ganó</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let resultado of resultadosDadosLocos()">
          <td data-label="Jugador">{{ resultado.jugador }}</td>
          <td data-label="Fecha">{{ resultado.fecha }}</td>
          <td data-label="Tiradas">{{ resultado.tiradas }}</td>
          <td data-label="Tiempo">{{ resultado.duracion }}s</td>
          <td data-label="Ganó">{{ resultado.gano ? 'Sí' : 'No' }}</td>
        </tr>
      </tbody>
    </table>
  </section>

  <!-- Mayor o Menor -->
  <section class="seccion-juego">
    <h2 class="subtitulo">Mayor o Menor</h2>
    <table class="tabla-resultados">
      <thead>
        <tr>
          <th>Jugador</th>
          <th>Fecha</th>
          <th>Aciertos</th>
          <th>Tiempo</th>
          <th>Ganó</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let resultado of resultadosMayorMenor()">
          <td data-label="Jugador">{{ resultado.jugador }}</td>
          <td data-label="Fecha">{{ resultado.fecha }}</td>
          <td data-label="Aciertos">{{ resultado.aciertos }}</td>
          <td data-label="Tiempo">{{ resultado.duracion }}s</td>
          <td data-label="Ganó">{{ resultado.gano ? 'Sí' : 'No' }}</td>
        </tr>
      </tbody>
    </table>
  </section>

  <!-- Preguntados -->
  <section class="seccion-juego">
    <h2 class="subtitulo">Preguntados</h2>
    <table class="tabla-resultados">
      <thead>
        <tr>
          <th>Jugador</th>
          <th>Fecha</th>
          <th>Aciertos</th>
          <th>Tiempo</th>
          <th>Ganó</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let resultado of resultadosPreguntados()">
          <td data-label="Jugador">{{ resultado.jugador }}</td>
          <td data-label="Fecha">{{ resultado.fecha }}</td>
          <td data-label="Aciertos">{{ resultado.aciertos }}</td>
          <td data-label="Tiempo">{{ resultado.duracion }}s</td>
          <td data-label="Ganó">{{ resultado.gano ? 'Sí' : 'No' }}</td>
        </tr>
      </tbody>
    </table>
  </section>

  <div class="d-flex justify-content-center my-4">
    <button routerLink="/bienvenida" class="btn btn-info px-4 py-2 shadow-lg rounded-pill">Volver</button>
  </div>
</div>