<div class="bienvenida-container d-flex justify-content-center align-items-center vh-100 w-100">
    <div class="text-center">
        <h1 class="mb-4 text-primary">¡Bienvenido a este pequeño CRUD!</h1>
        <div class="d-flex justify-content-center gap-3">
            <a routerLink="/login" class="btn btn-outline-primary">Iniciar sesión</a>
            <a routerLink="/registro" class="btn btn-outline-info">Registrarse</a>
            <a routerLink="/sobre-mi" class="btn btn-outline-dark">Sobre mí</a>
        </div>
    </div>
</div>