<div class="registro-container d-flex flex-column justify-content-center align-items-center vh-100 w-100 bg-dark">
  <div class="card p-4 shadow-lg border border-secondary bg-secondary border border-info-subtle text-light" style="min-width: 320px; max-width: 500px;width: 100%; background-color: #1b2838 !important">
    <h2 class="text-center text-info mb-4">Registro</h2>
    @if(formulario !== undefined)
    {
      <form [formGroup]="formulario">
        <div class="mb-3"> <!-- Correo -->
          <input type="email" formControlName="correo" class="form-control" placeholder="Correo electrónico" />
          @if(correo?.errors !== null && correo?.touched)
          {
            <div class="text-danger small mt-1">
              @if(correo?.hasError("required")) { <p class="mb-1">El correo es requerido</p> }
              @if(correo?.hasError("email")) { <p class="mb-1">Formato de correo inválido</p> }
              @if(correo?.hasError('maxlength')) { <p class="mb-1">Máximo 50 caracteres</p> }
            </div>
          }
        </div>

        <div class="mb-3"> <!-- Nombre -->
          <input type="text" formControlName="nombre" class="form-control" placeholder="Nombre" />
          @if(nombre?.errors !== null && nombre?.touched)
          {
            <div class="text-danger small mt-1">
              @if(nombre?.hasError("required")) { <p class="mb-1">El nombre es requerido</p> }
              @if(nombre?.hasError("minlength")) { <p class="mb-1">Mínimo 3 caracteres</p> }
              @if(nombre?.hasError("maxlength")) { <p class="mb-1">Máximo 15 caracteres</p> }
            </div>
          }
        </div>

        <div class="mb-3"> <!-- Apellido -->
          <input type="text" formControlName="apellido" class="form-control" placeholder="Apellido" />
          @if(apellido?.errors !== null && apellido?.touched)
          {
            <div class="text-danger small mt-1">
              @if(apellido?.hasError("required")) { <p class="mb-1">El apellido es requerido</p> }
              @if(apellido?.hasError("minlength")) { <p class="mb-1">Mínimo 3 caracteres</p> }
              @if(apellido?.hasError("maxlength")) { <p class="mb-1">Máximo 25 caracteres</p> }
            </div>
          }
        </div>

        <div class="mb-3"> <!-- Edad -->
          <input type="number" formControlName="edad" class="form-control" placeholder="Edad" />
          @if(edad?.errors !== null && edad?.touched)
          {
            <div class="text-danger small mt-1">
              @if(edad?.hasError("required")) { <p class="mb-1">La edad es requerida</p> }
              @if(edad?.hasError("min")) { <p class="mb-1">Edad mínima: 4 años</p> }
              @if(edad?.hasError("max")) { <p class="mb-1">Edad máxima: 115 años</p> }
            </div>
          }
        </div>

        <div class="mb-4 position-relative"> <!-- Clave con boton para ocultar -->
          <input [type]="mostrarClave ? 'text' : 'password'" formControlName="clave" class="form-control" placeholder="Contraseña" />
          <button type="button" (click)="verClave()" class="boton-clave">{{ mostrarClave ? '🙈' : '🙉' }}</button>

          @if(clave?.errors !== null && clave?.touched)
          {
            <div class="text-danger small mt-1">
              @if(clave?.hasError('required')) { <p class="error-clave">La clave es requerida</p> }
              @if(clave?.hasError('minlength')) { <p class="error-clave">Mínimo 6 caracteres</p> }
              @if(clave?.hasError('maxlength')) { <p class="error-clave">Máximo 20 caracteres</p> }
            </div>
          }
        </div>

        <button (click)="guardarDatos()" [disabled]="!formulario.valid" class="btn btn-info w-100">Guardar</button>
      </form>
    }
    @if(registro() === 'registro exitoso')
    {
      <p class="text-success text-center mt-3 small">¡Registro exitoso!</p>
    }
    @else if(registro() === 'Error, formulario inválido')
    {
      <p class="text-danger text-center mt-3 small">¡Error, formulario inválido!</p>
    }
    @else if(registro() === 'Error, usuario ya registrado')
    {
      <p class="text-danger text-center mt-3 small">¡Error, mail ya registrado!</p>
    }
  </div>
  <br>
  <button routerLink="/bienvenida" class="btn btn-info px-4 py-2 shadow-lg rounded-pill">Volver</button>
</div>