.contenedor-principal
{
  background-color: #1a1a1a;
  color: #fff;
  padding: 40px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100%;
}
.titulo
{
  font-size: 2.5rem;
  font-weight: bold;
  color: #00bcd4;
}
.seccion-reglas
{
  background-color: #1b2838 !important;
  color: #d3d3d3;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  margin-bottom: 20px;
}
.subtitulo
{
  color: #00bcd4;
  font-size: 1.8rem;
}
.descripcion-reglas
{
  font-size: 1rem;
  color: #ccc;
  margin-bottom: 15px;
}
.descripcion-reglas strong
{
  color: #0095ff;
}
.btn-info:hover
{
  background-color: #0dcaf0cc;
  border-color: #0dcaf0;
}
.d-flex
{
  display: flex;
}
.justify-content-center
{
  justify-content: center;
}
.my-4
{
  margin-top: 40px;
  margin-bottom: 40px;
}
.contenedor-reglas
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 100%;
  max-width: 1200px;
}
.seccion-reglas
{
  flex: 1 1 300px;
  max-width: 45%;
  background-color: #1b2838 !important;
  color: #d3d3d3;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
h2
{
  text-align: center;
}

@media (max-width: 768px)
{
  .seccion-reglas
  {
    max-width: 100%;
    flex: 1 1 100%;
  }
}