<!-- <input type="text" [(ngModel)]="nombreUsuario" /> -->

<div class="sobre-mi-container d-flex justify-content-center align-items-center vh-100 w-100">
    <div class="card p-4 shadow-lg text-center" style="min-width: 300px; max-width: 500px;">
        <h2 class="mb-4 text-primary">Sobre mí (GitHub)</h2>
        <button class="btn btn-outline-primary w-100 mb-4" (click)="traerUsuario()">Traer</button>
        @if(this.apiGithub.usuGithub())
        {
            <div>
                <p><strong>ID:</strong> {{ this.apiGithub.usuGithub().id }}</p>
                <p><strong>Login:</strong> {{ this.apiGithub.usuGithub().login }}</p>
                <img [src]="this.apiGithub.usuGithub().avatar_url" class="rounded-circle shadow" width="200" height="200" alt="Avatar de GitHub">
            </div>
        }
    </div>
</div>